$sans-serif-font: 'Avenir Next', sans-serif;
$script-font: 'Dancing Script', cursive;

$vy-blue-regular: #64d5f8;
$vy-blue-light: #7de4ff;

$mockup-blue-regular: #1AC6FC;
$mockup-blue-textAccent: #2a99ff;
$mockup-blue-dark: #1670A3;

$black: #000000;