@import "mediasizes", "typecolor";

.section {
  width: 55.75rem;
  margin: 0 auto;
  // text-align: center;
  
  h3 {
    font-size: 36px;
    margin-block-end: 0;
    text-align: center;
    color: $mockup-blue-textAccent;
    
    @include smallerMedia {font-size: 24px;}
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-block-start: 1.5rem;

    @include smallerMedia {margin-block-start: 0.75rem;}
  }

  li {
    font-size: 16px;
    margin-block-end: 0.5rem;
  }

  @include mediumMedia {
    width: 70%;
  }
}

.divider {
  width: 4.5rem;
  height: 3px;
  background-color: $mockup-blue-textAccent;
  margin: 2.75rem auto 1.75rem;
  @include smallerMedia {margin-bottom: 71px;}
}


  .button {
    background-color: $mockup-blue-textAccent;
    width: 12.938rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    
    border: none;
    color: white;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: rgb(26, 178, 238);
      transition: 0.2 ease-in;
    }
      
}